.author {
    display: grid;
    grid-template-areas:
    'icn txt';
    grid-template-columns: 1fr 130px;
    float: right;
    padding: 5px;
}

.author span{
    grid-area: txt;
    font-size: 12px;
}

.author img{
    grid-area: icn;
    max-width: 2rem;
    max-height: 2rem;
}

.bpost h1 {
    text-align: left;
    margin: 15px;
}

.bpost {
    padding: 20px;
}

.bpost p {
    line-height: 1.4;
    text-indent: 50px;
    padding: 0px 10px 0px 0px;
    text-align: justify;
}

.bpost figure {
    margin: 0.5em;
    padding: 0.5em;
}

.bpost figcaption {
    margin-top: 20px;
    font-style: italic;
    font-size: 12px;
}

.bpost img {
    max-width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
}